body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 150px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-size: contain; 
}

.image_logo{
    height: 75px;
    margin: 60px;
    padding-right: 100px;
}

.titolo{
    text-align: justify;
    margin-left: 65px;;
}

.autore{
    margin-top: -25px;
    color: gray;
    font-size: large;
    inline-size: 200px;
}

.testoautore{
    color: cyan;
}

thead{
    background-color: #4ea0ff;
    padding: 10px;
    text-align: center;
}

.immagini{
    margin-left: 25px;
}

.paragrafo_lista{
    margin-left: 65px;
    font-size: large;
    margin-right: 65px;
    
}

.evidenziato{
    background-color: yellow;
}

table{
    margin-left: 65px;
    border-collapse: collapse;
    width: 90%;;
}
thead{
    text-align: center;
    color: white;
    text-align: left;
}

.testofooter{
    color: gray;
}

footer{
    margin-left: 65px;
    text-decoration: dashed;
}

.container{
    position: relative;
    color: white;
    height: 400px;
    width: 400px;
}

.testo1{
    position: absolute;
    z-index: 100;
    font-size: 20;
    color: white;
}